@media (max-width: 900px){
  #image1{
    background-image: url(../img/img_responsive/Max_330px/lenhador_330.png);
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .caption{
    font-family: 'Abril Fatface' , sans-serif;
    font-size: 20px;
    position: relative;
    color: #fff;
  }
}








